{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="flex p-4 flex-col items-center justify-center font-serif">
    <p style="font-size: 15px;">Welcome to Flask UI APP!</p>
</div>


<div class="flex p-4 bg-blue-400 flex-col items-center justify-center font-serif">
    <p style="font-size: 30px;">This is your home page.</p>
</div>

<p> Hello! welcome to home page im katie im seventeen I like food sleeping, doing my make-up, pets, travelling, and playing games and yapping nice to meet you.</p>
{% endblock %}
